* {
    font-family: 'Smokum', cursive;
    color:black;
    text-shadow: 2px 2px 1px rgb(127, 109, 76);
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
p {
    font-size: 2em;
}
body{
    background-image: url(Cowboy2.jpg);
}
/* .containerH {
    position: relative;
    text-align: center;
    min-height: 120px;
}
.headertext {
    position: absolute;
    bottom: 8px;
    left: 16px;
  } */