* {
    font-family: 'Smokum', cursive;
}
.headertext {
    font-size: 4em;
    text-align: center;
    color: rgb(49, 49, 49);
    text-shadow: 2px 2px 1px rgb(109, 92, 61);
}
h2 {
    font-size: 3em;
    text-align: center;
    color: rgb(49, 49, 49);
    text-shadow: 2px 2px 1px rgb(109, 92, 61);
}
p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(49, 49, 49);
    text-shadow: 2px 2px 1px rgb(198, 187, 166);
}
body {
    background-image: url(Cowboy2.jpg);
}
hr {
    margin: auto;
}
iframe {
    margin-bottom: 20px;
}
